{
  "printWidth": 125,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "arrowParens": "always"
}
