@layer base {
  html {
    background: #383838 linear-gradient(#252525, #151515) fixed;
    height: 100%;
  }

  body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

    @apply text-offwhite;
  }

  .wrapper {
    @apply
      flex
      flex-col
      min-h-screen
      max-w-4xl
      my-0
      mx-auto
      bg-fot-blue-darkest;
  }

  a {
    @apply
      text-fot-blue-light
      no-underline;
  }

  p, ul, ol, table, pre, dl {
    @apply m-0 mb-4;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply p-0
      font-bold
      text-fot-green;
  }

  h1 {
    @apply
      text-fot-blue-light
      text-3xl;
  }

  h2 {
    @apply
      text-fot-blue-light
      text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h2 + h3 {
    @apply mt-2;
  }

  strong {
    @apply font-bold;
  }

  section {
    @apply
      py-4
      px-5
      border-t
      border-gray-500;
  }

  footer {
    @apply
      p-4
      overflow-hidden;
  }

  footer a {
    @apply
      text-white
      font-bold;
  }

  .formatted-text {
    @apply w-full
      block
      mx-auto
      mb-10;
  }
}
