@layer base {
  :root,
  [data-theme='chibbell'] {
    /* Images */
    --header-image-url: url(/images/OPTN_header_car.png);

    /* Fonts */
    --font-title: 'Exo 2';
    --font-body: 'Work Sans';
    --font-mono: 'Inconsolate';

    /* Text */
    --color-foreground: 244 244 249;
    --color-foreground-subtle: 193 216 220;

    /* Backgrounds */
    --color-background: 0 21 26;
    --color-surface: 205 100% 9%;
    --color-surface-inset: 193 216 220;
    --color-surface-elevated: 0 42 51;

    /* Primary */
    --color-primary-50: 191 100% 47%;
    --color-primary-500: 191 100% 28%;
    --color-primary-700: 192 93% 21%;
    --color-primary-1100: 194 93% 5%;

    /* Other */
    --color-accent: 255 189 51;
    --color-danger: 237 37 78;
  }

  [data-theme='sakura'] {
    /* Fonts */
    --font-title: 'M PLUS Rounded 1c';

    /* Text */
    --color-foreground: 244 244 249;
    --color-foreground-subtle: 232 212 221;

    /* Backgrounds */
    --color-background: 15 9 11;
    --color-surface: 338 22% 7%;
    --color-surface-inset: 220 193 213;
    --color-surface-elevated: 25 6 13;

    /* Primary */
    --color-primary-50: 340 54% 85%;
    --color-primary-500: 337 81% 77%;
    --color-primary-700: 334 70% 65%;
    --color-primary-1100: 345 20% 4%;

    /* Other */
    --color-accent: var(--color-primary-700);
    --color-danger: 237 37 78;
  }

  html {
    @apply bg-background
      h-full;
  }

  body {
    @apply font-body
      text-base
      text-foreground
      overflow-y-scroll;
  }

  .wrapper {
    @apply relative
      flex
      flex-col
      min-h-screen
      max-w-6xl
      my-0
      mx-auto
      bg-surface
      overflow-visible;
  }

  a {
    @apply text-primary-50
      font-semibold
      no-underline;
  }

  p,
  ul,
  ol,
  table,
  pre,
  dl {
    @apply m-0;
  }

  h1 + p {
    @apply mt-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply p-0
      font-title
      font-bold
      text-foreground;
  }

  h1 {
    @apply uppercase
      font-black
      italic
      text-4xl
      text-center
      mb-3;
  }

  h2 {
    @apply text-2xl
      mb-3;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  .sub-title {
    @apply font-title
      text-lg
      text-center
      mx-auto
      max-w-3xl
      text-foreground-subtle
      mb-10;
  }

  strong {
    @apply font-bold;
  }

  footer {
    @apply p-4
      overflow-hidden;
  }

  footer a {
    @apply text-white
      font-bold;
  }

  .formatted-text {
    @apply w-full
      block
      mx-auto
      mb-10;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  @screen md {
    h1 {
      @apply text-6xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    .sub-title {
      @apply text-2xl;
    }
  }
}
