@layer base {
  .validation-message {
    @apply
      text-sm;
    opacity: 0;
    font-size: 0.8rem;
    margin-top: 3px;
    min-width: 230px;
  }

  .row {
    @apply
      flex
      flex-wrap
      justify-between
      items-end;
  }

  .gears-grid {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 30px;
    row-gap: 8px;

    @apply
      mb-2
      gap-x-8
      gap-y-2;
  }

  .set + .set {
    @apply
      mt-6
  }

  .set h3 {
    @apply
      mb-0
      mr-4
      ml-4;
  }

  .set-content {
    @apply
      border
      border-optn-500
      rounded-xl
      mt-1
      p-4
      pb-2
  }

  .row + h1,
  .row + h2,
  .row + h3,
  .row + h4 {
    @apply
      mt-8;
  }

  .row > h3 {
    @apply
      w-24
      mr-4
      mb-2;
  }

  .column {
    margin: 0 0 0;
  }

  .column > .control + .control {
    @apply mt-2;
  }

  .row.bottom {
    @apply items-end;
  }

  .h2 + .row.wrap.bottom {
    @apply mb-0;
  }

  .engine .control {
    min-width: 100px;
  }
}
