@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");
@import "./_tailwind.css";
@import "./_base.css";
@import "./_forms.css";
@import "./_buttons.css";
@import "./_header.css";

:root {
  --light-blue: hsl(191, 93%, 72%);
  --med-blue: rgb(0, 133, 163);
  --dark-blue: hsl(191, 100%, 10%);
  --med-green: hsl(169, 100%, 26%);
  --yellow: hsl(41, 100%, 60%);
  --offwhite: hsl(39, 58%, 95%);
}

section {
  padding: 15px 20px;
  border-top: 1px solid #646464;
}

img {
  max-width: 100%
}

.xgenerate-button,
.xclipboard-button {
  @apply
    p-5
    rounded-lg
    text-3xl
    block
    w-full
    mb-6
    text-fot-blue-darkest
    font-bold
    bg-fot-yellow;

  /* padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
  min-width: 250px;
  width: 100%;
  margin: 0 auto 20px;
  display: block;
  background-color: #FFBD33; */
}

.xclipboard-button {
  @apply
    bg-fot-green
    ;
  margin: 20px auto 0;
  background-color: #0aa9f9;
  font-size: .8rem;
  padding: 10px;
}

.formatted-text {
  @apply w-full
    block
    mx-auto
    mb-10;
}

small {
  font-size: 11px;
}

footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #fff;
  font-weight: bold;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width: 100%
  }

  footer {
    border-radius: 0;
    padding: 20px;
    width: auto
  }

  footer p {
    float: none;
    margin: 0
  }

  footer p+p {
    float: none
  }
}

.hidden {
  display: none;
}

@media print, screen and (max-width: 580px) {
  header {
    flex-direction: column;
  }

  .row .gears-grid {
    grid-template-columns: 1fr;
  }

  /* .row > .control + .control {
    margin-left: 0;
    margin-top: 8px;
  } */

  .column+.column {
    margin-left: 0;
  }

  .column.actions {
    width: 100%;
  }

  input,
  select,
  textarea {
    width: 100%;
  }

  .generate-button,
  .formatted-text {
    width: 100%;
  }
}

@media print {
  header p.view a small:before {
    content: 'at https://github.com/'
  }
}
