@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");

html {
  background: #383838 linear-gradient(#252525, #151515) fixed;
  height: 100%
}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cfcbcb;
  font-weight: 300;
  background: url("../images/checker.png") fixed;
}

.wrapper {
  width: 740px;
  margin: 0 auto;
  background: #191919;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 0 0;
}

.hidden {
  display: hidden;
}

header, section, footer {
  display: block;
}

a {
  color: #069;
  text-decoration: none;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

p {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFBD33;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

h1 {
  color: #0aa9f9;
  font-size: 2rem;
}

h2 {
  color: #0aa9f9;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 6px;
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

p, span, label {
  font-size: 1rem;
}

strong {
  color: #bde7f4;
  font-weight: 700;
}

header {
  position: relative;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  color: #0aa9f9;
}

header.without-description h1 {
  margin: 10px 0;
}

header p {
  margin: 0;
  color: #c1c1c1;
  width: 300px;
  font-size: 13px;
}

header p.view {
  display: none;
  font-weight: 700;
  /* text-shadow:rgba(255,255,255,0.9) 0 1px 0; */
  -webkit-font-smoothing: antialiased;
}

header p.view a {
  color: #3e6c9b;
}

header p.view small {
  font-weight: 400;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  height: 38px;
  padding: 1px 0;
  background: #5198DF;
  background: linear-gradient(#77B9FB, #3782CD);
  border-radius: 5px;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: auto;
  display: flex;
}

header ul li {
  min-width: 79px;
}

header ul li+li {
  border-left: 1px solid #8BBEF3;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 15px 20px;
  border-top: 1px solid #646464;
}

label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}

input,
select,
textarea {
  font-size: 1rem;
  padding: 6px 12px;
  border: 1px solid #999898;
  border-radius: 4px;
  background-color: #dedede;
  box-sizing: border-box;
  outline: none;
}

textarea {
  resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid rgb(255, 189, 51);
  box-shadow: inset 0 1px 1px rgb(0, 0, 0, .08), 0 0 8px rgb(255, 189, 51, .6);
}

input.touched:invalid,
select.touched:invalid,
textarea.touched:invalid {
  border: 1px solid #dc3545;
  box-shadow: inset 0 1px 1px rgb(0, 0, 0, .08), 0 0 8px #dc3545;
}

input.touched:invalid~label,
select.touched:invalid~label,
textarea.touched:invalid~label,
.validation-message {
  color: #dc3545;
}

input:required~label::after,
select:required~label::after,
textarea:required~label::after {
  content: '*';
  margin-left: 5px;
  color: #ffbd33
}

input.touched:invalid~.validation-message,
select.touched:invalid~.validation-message,
textarea.touched:invalid~.validation-message {
  opacity: 1;
}

.validation-message {
  opacity: 0;
  font-size: 1rem;
  margin-top: 3px;
}

select {
  min-width: 75px;
}

img {
  max-width: 100%
}

.control {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.control label {
  order: 1;
}

.control input,
.control select,
.control textarea {
  order: 2;
}

.control .validation-message {
  order: 3;
}

.row {
  display: flex;
  margin: 8px 0;
  /* justify-content: space-between; */
}

.row .gears-grid {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 8px;
}

.row+h3 {
  margin-top: 16px;
}

.column {
  margin: 0 0 0;
}

.column.actions {
  width: 66%;
  margin: 0 auto;
}

.row>.control {
  margin: 0 15px 0 15px;
}

.row>.control:first-child {
  margin-left: 0;
}

.row>.control:last-child {
  margin-right: 0;
}

.column>.control+.control {
  margin-top: 8px;
}

.generate-button,
.clipboard-button {
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
  min-width: 250px;
  width: 100%;
  margin: 0 auto 20px;
  display: block;
  background-color: #FFBD33;
}

.clipboard-button {
  margin: 20px auto 0;
  background-color: #0aa9f9;
  font-size: .8rem;
  padding: 10px;
}

.formatted-text {
  width: 100%;
  display: block;
  margin: 0 auto;
}

small {
  font-size: 11px;
}

footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #fff;
  font-weight: bold;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width: 100%
  }

  footer {
    border-radius: 0;
    padding: 20px;
    width: auto
  }

  footer p {
    float: none;
    margin: 0
  }

  footer p+p {
    float: none
  }
}

@media print, screen and (max-width: 580px) {
  header {
    flex-direction: column;
  }

  header ul {
    margin: 16px auto 0;
  }

  header p.view {
    display: block
  }

  header p {
    width: 100%
  }

  .row {
    flex-direction: column;
  }

  .row>.control {
    margin: 0;
  }

  .row .gears-grid {
    grid-template-columns: 1fr;
  }

  .row>.control+.control {
    margin-left: 0;
    margin-top: 8px;
  }

  .column+.column {
    margin-left: 0;
  }

  .column.actions {
    width: 100%;
  }

  input,
  select,
  textarea {
    width: 100%;
  }

  .generate-button,
  .formatted-text {
    width: 100%;
  }
}

@media print {
  header p.view a small:before {
    content: 'at https://github.com/'
  }
}
